{% extends 'base.html.twig' %}

{% block title %}Demander un devis{% endblock %}

{% block body %}
    <h1>Demander un devis pour votre déménagement</h1>

    {{ form_start(form) }}
    <div class="form-section">
        <h2>Date de déménagement</h2>
        {{ form_row(form.date_demenagement) }}
    </div>

    <div class="form-section">
        <h2>Adresse de départ</h2>
        {# --- CORRECTION ICI POUR ACCÉDER AUX CHAMPS DES ADRESSES --- #}
        {{ form_row(form.adresses_depart.nom_de_la_rue) }}
        {{ form_row(form.adresses_depart.code_postal) }}
        {{ form_row(form.adresses_depart.ville) }}
        {{ form_row(form.adresses_depart.etage) }}
        {{ form_row(form.adresses_depart.ascenseur) }}
        {{ form_row(form.adresses_depart.typeBien) }}
    </div>

    <div class="form-section">
        <h2>Adresse d'arrivée</h2>
        {# --- CORRECTION ICI POUR ACCÉDER AUX CHAMPS DES ADRESSES --- #}
        {{ form_row(form.adresses_arriver.nom_de_la_rue) }}
        {{ form_row(form.adresses_arriver.code_postal) }}
        {{ form_row(form.adresses_arriver.ville) }}
        {{ form_row(form.adresses_arriver.etage) }}
        {{ form_row(form.adresses_arriver.ascenseur) }}
        {{ form_row(form.adresses_arriver.typeBien) }}
    </div>

    <button type="submit" class="btn btn-primary">Soumettre le devis</button>
    {{ form_end(form) }}
{% endblock %}
