{% extends 'base.html.twig' %}

{% block title %}S'enregistrer{% endblock %}

{% block body %}
    {% include 'partials/_header.html.twig' %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="register-page">

        <section class="register-info">
            <h2 class="info-title">Rejoignez Notre Communauté</h2>
            <p>Créez votre compte pour accéder à nos services de déménagement personnalisés et bénéficier d'un
                accompagnement sur mesure.</p>
            <ul class="info-list">
                <li>Devis instantané en ligne</li>
                <li>Suivi en temps réel de votre déménagement</li>
                <li>Accès à votre espace client personnalisé</li>
            </ul>


            <div class="register-card">
                <h2 class="form-title">Créer un compte</h2>
                <p class="form-subtitle">Remplissez le formulaire ci-dessous pour commencer</p>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm, {'attr': {'class': 'register-form'}}) }}

                <div class="form-row">
                    {{ form_row(registrationForm.nom) }}
                    {{ form_row(registrationForm.prenom) }}
                </div>

                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.telephone) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de passe'
                }) }}
                <div class="form-agree">
                    {{ form_widget(registrationForm.agreeTerms) }}
                    {{ form_label(registrationForm.agreeTerms) }}
                </div>
                <button type="submit" class="btn-primary">Créer Mon Compte</button>
                {{ form_end(registrationForm) }}

                <div class="login-link">
                    <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
                </div>
            </div>

        </section>
    </div>
    {% include 'partials/_footer.html.twig' %}
{% endblock %}
